
<mp-sparql-download query="
PREFIX owl: <http://www.w3.org/2002/07/owl#>
PREFIX obo: <http://purl.obolibrary.org/obo/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX standards-si: <http://w3id.org/rdfbones/ext/standards-si/>

SELECT DISTINCT ?ID ?mysectionlabel ?ROI ?MeasurementType ?Measurement WHERE {
              
  					  ?? rdfs:label ?ID .
  					  ?? obo:BFO_0000051 ?section.
					  ?? obo:BFO_0000051+ ?what.
  					  ?section obo:BFO_0000051 ?md.	
   					  ?md <http://purl.obolibrary.org/obo/IAO_0000136> ?myROIInstance .
  					  ?myROIInstance a ?ROIClass .
   					  optional {?ROIClass rdfs:label ?ROIlabel .}	
  					  bind(if(exists{?ROIClass rdfs:label ?ROIlabel},?ROIlabel,?ROIClass) as ?ROI).
 					  ?section a ?mysection.
					  ?mysection rdfs:label ?mysectionlabel .
  					  ?what <http://purl.obolibrary.org/obo/IAO_0000136> ?myroi .
					  ?myroi a ?roiclass .
					  ?roiclass rdfs:label ?ROI .
					  
					  ?what a ?whatclass.
					  ?whatclass rdfs:label ?MeasurementType .
					  ?what <http://purl.obolibrary.org/obo/OBI_0001938> ?VS .
					  ?VS  <http://purl.obolibrary.org/obo/OBI_0001937>|<http://purl.obolibrary.org/obo/OBI_0000999>  ?value .
					  optional {?value rdfs:label ?valuelabel}
					  bind(if(exists{?value rdfs:label ?valuelabel},?valuelabel,?value) as ?Measurement).
					  } ORDER BY ?ID ?mysectionlabel ?ROI ?mdClassLabel
                    "
header="text/csv" filename="[[this.label]].csv">
  <button class="btn btn-secondary"><strong>Download CSV Table for <i>[[this.label]]</i></strong></button>
</mp-sparql-download>
