<ol>
  <li>Create new research process selecting appropriate date and roletype</li>
  <li>Navigate to newly created instance (table below) to add persons involved and/or comments</li>
  </ol>
<mp-event-target-refresh id="ResearchProcess">

<semantic-form

  new-subject-template="http://rdfbones.org/records/ResearchProcess-{{UUID}}"
  id="ResearchProcess"
  post-action='event'
  persistence='sparql'
  browser-persistence='true'
  form-id="ResearchProcess"
  fields='[{
	  "id": "roletype",
	  "label": "Select Roletype",
	  "xsdDatatype": "xsd:anyURI",
	  "maxOccurs": 1,
	  "minOccurs": 1,
	  "insertPattern": "
	  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
	  PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
	  PREFIX obo: <http://purl.obolibrary.org/obo/>
	  PREFIX vivo: <http://vivoweb.org/ontology/core#>
	  PREFIX phaleron-patho:<http://w3id.org/rdfbones/ext/phaleron-patho/>
	  PREFIX cidoc:<http://www.cidoc-crm.org/cidoc-crm/>

	  INSERT {GRAPH ?mygraph {  
          ?paleopath_observation obo:BFO_0000051  $subject.
          $subject a [[research_process_type]] .        
          ?role a $value .
        
        ?role obo:BFO_0000054 $subject .        
        $subject rdfs:label ?label .
       }} WHERE {
        GRAPH ?mygraph {?? a ?o } .
        ?paleopath_observation obo:OBI_0000299 ??.
        ?paleopath_observation a [[paleopath_observation_type]] .
        BIND(URI(CONCAT(STR(?subject),\"_Role\")) AS ?role) .
        $value rdfs:label ?label .
        

}",
"valueSetPattern": "
      PREFIX phaleron-patho:<http://w3id.org/rdfbones/ext/phaleron-patho/>

SELECT $value WHERE {
  VALUES (?value) { (phaleron-patho:ObserverRole) (phaleron-patho:DataEditorRole) } }

"
,
"deletePattern": "
    PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
    PREFIX obo: <http://purl.obolibrary.org/obo/>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    DELETE {?paleopath_observation obo:BFO_0000051  $subject.
            $subject rdfs:label $value .} WHERE {?paleopath_observation obo:OBI_0000299 ??.
            ?paleopath_observation a [[paleopath_observation_type]] .} "

},
{
  "id": "dateentry",
    "label": "Select Date",
    "xsdDatatype": "xsd:date",
    "maxOccurs": 1,
    "minOccurs": 1,
    "insertPattern": "
    PREFIX dc: <http://purl.org/dc/terms/>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

    INSERT {GRAPH ?mygraph {  
        $subject dc:date $value .
        
       }} WHERE {
        GRAPH ?mygraph {?? a ?o } .      
}",
 "deletePattern": "
    PREFIX dc: <http://purl.org/dc/terms/>
    PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
    DELETE {$subject dc:date $value} WHERE { 
}" 

}


]'>
 <semantic-form-recover-notification></semantic-form-recover-notification>
<semantic-form-select-input for='roletype'></semantic-form-select-input>
<semantic-form-datetime-input for="dateentry" mode="date" >
</semantic-form-datetime-input>
 <div class="semantic-form-footer-buttons">

<button name="submit" class="btn btn-primary"><strong>Save</strong></button>
<mp-event-trigger type="Component.Refresh" targets='["mytable","ResearchProcess"]'>
  <button class="btn btn-secondary">Reset Form</button>
</mp-event-trigger>
</div>

</semantic-form>
</mp-event-target-refresh>
<mp-event-proxy on-event-type="Form.ResourceCreated" on-event-source="ResearchProcess" proxy-event-type="Component.TemplateUpdate" proxy-targets='["RP-update"]'>
</mp-event-proxy>

<mp-event-proxy on-event-type="Form.ResourceCreated" on-event-source="ResearchProcess" proxy-event-type="Component.Refresh" proxy-targets='["ResearchProcess","mytable"]'>
</mp-event-proxy>
<mp-event-proxy on-event-type="Form.ResourceUpdated" on-event-source="ResearchProcess" proxy-event-type="Component.TemplateUpdate" proxy-targets='["RP-update"]'>
</mp-event-proxy>
[[>:RDFBONES_FormSuccessFeedbackTemplateSnippetCustom ufb-id="RP-update" ufbTemplate="RP-Template" ufbname="New ResearchProcess Created. Please Select from Table below for Editing"]]                  


<br>
<mp-event-proxy on-event-type="Form.ResourceUpdated" on-event-source="ResearchProcess" proxy-event-type="Component.TemplateUpdate" proxy-targets='["update-forms"]'>
</mp-event-proxy>
<mp-event-proxy on-event-type="Form.ResourceCreated" on-event-source="ResearchProcess" proxy-event-type="Component.TemplateUpdate" proxy-targets='["update-forms"]'>
</mp-event-proxy>
<mp-event-target-template-render id="update-forms" template=" {{>ufbTemplate}} ">
  
  <template id="ufbTemplate">
    <semantic-query query="
		       PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
		       PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
		       PREFIX obo: <http://purl.obolibrary.org/obo/>
		       PREFIX dc: <http://purl.org/dc/terms/>
		       SELECT (count(DISTINCT ?RP) AS ?value) WHERE { 
		       ?paleopath_observation obo:OBI_0000299 ??.
		       ?paleopath_observation a [[paleopath_observation_type]] .
		       ?paleopath_observation obo:BFO_0000051  ?RP.
		       ?RP a [[research_process_type]] .        
		      
      } GROUP BY ?RP" template="{{> t}}">
  <template id="t">
    {{#ifCond bindings.0.value.value ">" "0"}}
<strong>Show all available Observer/Editing Events:</strong><br>
<mp-event-trigger type="Component.Refresh" targets='["mytable", "ResearchProcess"]'>
  <button class="btn btn-secondary">Refresh Table</button>
</mp-event-trigger>
<mp-event-target-refresh id="mytable">
 
<semantic-table 
  query="
      PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
      PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
      PREFIX obo: <http://purl.obolibrary.org/obo/>
      PREFIX dc: <http://purl.org/dc/terms/>
      SELECT DISTINCT ?RP ?date ?typelabel ?typeofEvent ?homosapiens WHERE { 
             ?paleopath_observation obo:OBI_0000299 ??.
             ?paleopath_observation a [[paleopath_observation_type]] .
             ?paleopath_observation obo:BFO_0000051  ?RP.
             ?RP a [[research_process_type]] .        
             OPTIONAL {?RP dc:date ?date } .
             OPTIONAL {?typeofEvent obo:BFO_0000054 ?RP .
             ?typeofEvent a ?typeclass .
             ?typeclass rdfs:label ?typelabel} .
             OPTIONAL {?RP obo:RO_0000057 ?homosapiens.}
             

      }"
       options='{
		"defaultCellTemplate": "{{> defaultCell}}"
    }'
  column-configuration='[
      {"variableName": "date", "displayName": "Date of Event"},
     {"variableName": "RP", "displayName": "Observer/Editing Event" },
      {"variableName": "homosapiens", "displayName": "Person involved"}
    ]'
  >
  
  <template id="defaultCell">
    {{#if cellValue}}
    {{#if (isIri cellValue)}}
    <semantic-link iri="{{cellValue.value}}" target="_blank"></semantic-link>&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
    {{else if (isLiteral cellValue)}}
      {{cellValue.value}}
    
    {{/if}}
     {{/if}}
  </template>  
  
</semantic-table>
</mp-event-target-refresh>

 {{/ifCond}}
 </template>
  </semantic-query>
</template>
  
</mp-event-target-template-render>
